/*
Website color palate:
#14213D oxford blue
#FCA311 orange peel
#E5E5E5 Platinum gray
#7692FF cornflower blue
*/

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #14213D;
    color: #E5E5E5;
    font-family: Tahoma;
    font-size: 16px;
}

h1, h3, p {
    margin: 1em auto;
    text-align: center;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

  nav {
    padding-left: 50px;
    display: flex;
    align-items: right;
    position: fixed;
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    padding-right: 20px;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
  
  main {
    padding-top: 50px;
  }